*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family:'Berlin Sans FB';
  background-color: #f0efee;
}

/*Navbar styling*/

nav{
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #b4b3b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  overflow: hidden;
  margin-bottom: 50px;
}
.nav-ul{
  display: flex;
  gap: 10px;
  list-style-type: none;
}
.nav-ul a{
  display: block;
  padding: 35% 10px;
  transition: all 0.3s ease-in-out;
}
.nav-ul > li a, .brand-name{
  color: #1f1e1e;
}
a{
  text-decoration: none;
}
.nav-ul > li:hover > a{
  background-color: #6e6c6c;
  color: #fff;
}

/* End Navbar styling*/

/** Section styling **/

.section-container{
  padding: 0 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.staff-card{
  background-color: #b4b3b2;
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  gap: 10px;
  margin: 0 40px 30px;
}
.image-box{
  width: 40%;
  height: 250px;
  overflow: hidden;
}
.contact-wrapper {
  width: 60%;
}
.staffImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.icons{
  width: 25px;
  height: 25px;
}
.contact-wrapper h3{
  margin-bottom: 20px;
}
.contact-phone{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}